




.navbar {
    background-image: url(images/bg-pattern-header.svg);
    height: 160px;

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px 0 0px;
    
}

.listingrow {
    display:flex;
    flex-direction: row;
    align-items: center;
    
}



.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
 
#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#log {
    margin: 40px 650px 0 -100px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
li {
    list-style-type: none;
    margin: 17px 0 0 0;
}
 
input {
    border: none;
}

.search-bar {
    background-color: white;
    width: 1020px;
    height: 65px;
    margin: 0 0 -40px 50px;
   border-radius: 5px ;
}

#main {
    background-color: hsl(210, 22%, 96%);
    font-family: "Kumbh sans",sans-serif;
}

.form-i {
    margin: 0 10px 0 0;
}

#bt1 {
    margin: 0 0 0 -100px;
}

.listing {
    background-color: white;
    width: 315px;
    display: flex;
    flex-direction: column;
    margin: 30px 2px 30px 30px;
    padding: 15px 0 0 30px ;
    border-radius: 7px;
}

.pc {
    display: flex;
    flex-direction: row;
    color: gray;
    font-size: 15px;
}
.ty1 {
    color: gray;
    font-size: 15px;
}
.ty2 {
    font-size: 16px;
    font-weight: 700;
}
.ty3 {
    color: #5964E0;
    font-size: 13px;
    font-weight: 700;
}

.logo {
    background-color:#E99210 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-i{
    padding: 15px 0 0 3px ;
}

.logo1 {
    background-color:#E54D25 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-1{
    padding: 14px 0 0 14px ;
}

.logo2 {
    background-color:#34353F ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-2{
    padding: 20px 0 0 5px ;
}

.logo3 {
    background-color:#2F4FC7 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-3{
    padding: 13px 0 0 8px ;
}

.logo4 {
    background-color:#132034 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-4{
    padding: 10px 0 0 12px ;
}

.logo5 {
    background-color:#4E1853;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-5{
    padding: 10px 0 0 12px ;
}

.logo6 {
    background-color:#4722C6;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-6{
    padding: 20px 0 0 7px ;
}

.logo7 {
    background-color:#21427D;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-7{
    padding: 12px 0 0 13px ;
}

.logo8 {
    background-color:#F2DECB;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-8{
    padding: 12px 0 0 13px ;
}

.logo9 {
    background-color:#1F1F1F;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-9{
    padding: 10px 0 0 10px ;
}

.logo10 {
    background-color:#37C790;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-10{
    padding: 20px 0 0 5px ;
}

.logo11 {
    background-color:#F16718;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-11{
    padding: 10px 0 0 12px ;
}

#bt1 {
    background-color: #5964E0;
    color: white;
    width: 123px;
    height: 40px;
    margin: -5px 15px 0 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
}

#bt {
    background-color: #5964E0;
    color: white;
    width: 123px;
    height: 40px;
    margin: 0px 15px 50px 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
}








/* Scoot styles*/
#body {
    background-color: #F4F6F8;
}
.navbar1{
    background-image: url(images/bg-pattern-header.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    
}

.top-nav1 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

#log1 {
    margin: 70px 570px 0 0;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 650px;
    height: 400px;
    margin: 70px 0 0 0;
}
#title-i{
    background-color: hsl(36, 87%, 49%);
    padding: 32px 0 0 0;
    width: 90px;
    height: 100%;
}
#cw{
    display: flex;
    flex-direction: column;
    
}

#main2 {
    background-color: white;
    margin: 100px auto 0 auto;
    width: 650px;
    padding: 50px;
}
#tc {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}
#posi {
    font-size: 30px ;
    font-weight: 700;
}
#loca {
    font-weight: 700 ;
    font-size: 14px;
    color:  #5964E0;
}
#content-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.RW {
    font-weight: 700;
    font-size: 18px;
}

footer {
    text-align: center; 
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:  80px 0 0 0;
    height: 70px;
}

#ft {
    margin: 10px 350px 0 300px ;
}
#fot {
    font-weight: 700;
}
#fotw {
    margin: -20px 0 0 -97px ;
    color: gray;
    font-size: 14px;
}

#bt4 {
    background-color: #5964E0  0.10000000149011612;
    color: #5964E0;
    width: 123px;
    height: 40px;
    margin: 50px 30px 50px 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}

#bt3 {
    background-color: #5964E0  ;
    color: white;
    width: 123px;
    height: 40px;
    margin: 50px -22px 50px 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}






/* Blogr.com style */
#title-2 {
    background-color: #E54D25;
    height: 100%;
    width: 120px
}

#ft1 {
    margin: 10px 350px 0 300px ;
}
#fot1 {
    font-weight: 700;
}
#fotw1 {
    margin: -20px 0 0 -97px ;
    color: gray;
    font-size: 14px;
}





/* Vector.com styles*/ 
#title-3 {
    background-color: #34353F;
    height: 100%;
    width: 120px
}

#ft2 {
    margin: 10px 350px 0 300px ;
}
#fot2 {
    font-weight: 700;
}
#fotw2 {
    margin: -20px 0 0 -97px ;
    color: gray;
    font-size: 14px;
}