
:root {
    --first-colour: #19202D;
    --second-colour: #F4F6F8;
    --third-colour:#FFFFFF;
    --fourth-colour: #5964E0  ;
    --fifth-colour: #5964E0;
    --sixth-colour: #6E8098; 
    --seventh-colour: rgba(89, 100, 224, 0.10000000149011612);
}
.dark-theme{
   --first-colour: #FFFFFF;
   --second-colour: #121721;
   --third-colour: #19202D; 
   --fourth-colour: #FFFFFF ;
   --fifth-colour: #FFFFFF;
   --sixth-colour: #9DAEC2;
   --seventh-colour: rgba(255, 255, 255, 0.10000000149011612);
}

a {
    text-decoration: none;
}


.navbar {
    background-image: url(images/bg-pattern-header.svg);
    height: 160px;

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px 0 0px;
    
}

.listingrow {
    display:flex;
    flex-direction: row;
    align-items: center;
    
}



.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
 
#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#log {
    margin: 40px 650px 0 -100px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
li {
    list-style-type: none;
    margin: 17px 0 0 0;
}
 
input {
    border: none;
    background-color: var(--third-colour);
}

#icon {
    margin: 50px -400px 0 0;
}

#img1 {
    margin: 10px 0 0 -260px;
}

.search-bar {
    background-color: var(--third-colour);
    width: 1020px;
    height: 65px;
    margin: 0 0 -40px 50px;
   border-radius: 5px ;
}

#FO {
    font-weight: 700;
}

#main {
    background-color: var(--second-colour);
    font-family: "Kumbh sans",sans-serif;
    color: var(--first-colour);
}

.form-i {
    margin: 0 10px 0 0;
}



.listing {
    background-color: var(--third-colour);
    width: 315px;
    display: flex;
    flex-direction: column;
    margin: 30px 2px 30px 30px;
    padding: 15px 0 0 30px ;
    border-radius: 7px;
}

.pc {
    display: flex;
    flex-direction: row;
    color: gray;
    font-size: 15px;
}
.ty1 {
    color: gray;
    font-size: 15px;
}
.ty2 {
    font-size: 16px;
    font-weight: 700;
}
.ty3 {
    color: #5964E0;
    font-size: 13px;
    font-weight: 700;
}

.logo {
    background-color:#E99210 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-i{
    padding: 15px 0 0 3px ;
}

.logo1 {
    background-color:#E54D25 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-1{
    padding: 14px 0 0 14px ;
}

.logo2 {
    background-color:#34353F ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-2{
    padding: 20px 0 0 5px ;
}

.logo3 {
    background-color:#2F4FC7 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-3{
    padding: 13px 0 0 8px ;
}

.logo4 {
    background-color:#132034 ;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-4{
    padding: 10px 0 0 12px ;
}

.logo5 {
    background-color:#4E1853;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-5{
    padding: 10px 0 0 12px ;
}

.logo6 {
    background-color:#4722C6;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-6{
    padding: 20px 0 0 7px ;
}

.logo7 {
    background-color:#21427D;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-7{
    padding: 12px 0 0 13px ;
}

.logo8 {
    background-color:#F2DECB;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-8{
    padding: 12px 0 0 13px ;
}

.logo9 {
    background-color:#1F1F1F;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-9{
    padding: 10px 0 0 10px ;
}

.logo10 {
    background-color:#37C790;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-10{
    padding: 20px 0 0 5px ;
}

.logo11 {
    background-color:#F16718;
height: 45px;
width: 48px;
border-radius: 15px;
margin: -40px 0 10px 10px;
}
.logo-11{
    padding: 10px 0 0 12px ;
}

#bt1 {
    background-color: #5964E0;
    color: #FFFFFF;
    width: 123px;
    height: 40px;
    margin: -5px 15px 0 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}

#bt {
    background-color: #5964E0;
    color: #FFFFFF;
    width: 123px;
    height: 40px;
    margin: 0px 15px 50px 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}








/* Scoot styles*/
#body {
    background-color: var(--second-colour);
    color: var(--sixth-colour);
}
.navbar1{
    background-image: url(images/bg-pattern-header.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    
}

.top-nav1 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

#log1 {
    margin: 70px 570px 0 0;
}

#img2 {
    margin: 50px 0px -70px -200px;
}

#icona {
    margin: 70px -200px -100px 200px;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--third-colour);
    width: 650px;
    height: 400px;
    margin: 70px 0 0 0;
}

#title-i{
    background-color: hsl(36, 87%, 49%);
    padding: 32px 0 0 0;
    width: 90px;
    height: 100%;
}
#cw{
    display: flex;
    flex-direction: column;
    
}

#main2 {
    background-color: var(--third-colour);
    margin: 100px auto 0 auto;
    width: 650px;
    padding: 50px;
}
#tc {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
}
#posi {
    font-size: 30px ;
    font-weight: 700;
    color: var(--first-colour);
}
#loca {
    font-weight: 700 ;
    font-size: 14px;
    color:  #5964E0;
}
#content-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.RW {
    font-weight: 700;
    font-size: 18px;
    color: var(--first-colour);
}

footer {
    text-align: center; 
    background-color: var(--third-colour);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:  80px 0 0 0;
    height: 70px;
}

#ft {
    margin: 10px 350px 0 300px ;
}
#fot {
    font-weight: 700;
    color: var(--first-colour)
}
#fotw {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}


#bt4 {
    background-color: var(--seventh-colour) ;    
    width: 123px;
    height: 40px;
    margin: 50px 30px 50px 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}

#bt4 a {
   
    text-decoration: none;
    color: var(--fifth-colour);
    
}



#bt3 {
    background-color: #5964E0  ;
    color: white;
    width: 123px;
    height: 40px;
    margin: 50px -22px 50px 0 ;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}






/* Blogr.com style */
#title-2 {
    background-color: #E54D25;
    height: 100%;
    width: 120px
}

#ft1 {
    margin: 10px 350px 0 300px ;
}
#fot1 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw1 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}





/* Vector.com styles*/ 
#title-3 {
    background-color: #34353F;
    height: 100%;
    width: 120px
}

#ft2 {
    margin: 10px 350px 0 300px ;
}
#fot2 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw2 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}




/* Officelite.com styles */

#title-4 {
    background-color: #2F4FC7;
    height: 100%;
    width: 120px
}

#ft3 {
    margin: 10px 350px 0 300px ;
}
#fot3 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw3 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}




/* Pod.com styles */

#title-5 {
    background-color: #132034;
    height: 100%;
    width: 120px
}

#ft4 {
    margin: 10px 350px 0 300px ;
}
#fot4 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw4 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}



/* Creative.com styles */

#title-6 {
    background-color: #4E1853;
    height: 100%;
    width: 120px
}

#ft5 {
    margin: 10px 350px 0 300px ;
}
#fot5 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw5 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}




/* Pomodoro.com styles */

#title-7 {
    background-color:#4722C6;
    height: 100%;
    width: 120px
}

#ft6 {
    margin: 10px 350px 0 300px ;
}
#fot6 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw6 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}



/* Maker.com styles */

#title-8 {
    background-color:#21427D;
    height: 100%;
    width: 120px
}

#ft7 {
    margin: 10px 350px 0 300px ;
}
#fot7 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw7 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}

/* Cofferoasters*/

#title-9 {
    background-color:#4E1853;
    height: 100%;
    width: 120px
}

#ft8 {
    margin: 10px 350px 0 300px ;
}
#fot8 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw8 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}



/* Mastercraft.com style */

#title-10 {
    background-color:#1F1F1F;
    height: 100%;
    width: 120px
}

#ft9 {
    margin: 10px 350px 0 300px ;
}
#fot9 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw9 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}




/* Crowdfund.com styles */

#title-11 {
    background-color:#37C790;
    height: 100%;
    width: 120px
}

#ft10 {
    margin: 10px 350px 0 300px ;
}
#fot10 {
    font-weight: 700;
    color:  var(--first-colour);
}
#fotw10 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}





/* Typemaster.com styles */

#title-12 {
    background-color:#F16718;
    height: 100%;
    width: 120px
}

#ft11 {
    margin: 10px 350px 0 300px ;
}
#fot11 {
    font-weight: 700;
    color: var(--first-colour);
}
#fotw11 {
    margin: -20px 0 0 -97px ;
    color: var(--sixth-colour);
    font-size: 14px;
}

.listing a {
    text-decoration: none;
    color: var(--fourth-color);
}

