body {
   
}




.navbar {
    background-image: url(images/bg-pattern-header.svg);
    height: 160px;

}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.listingrow {
    display:flex;
    flex-direction: row;
    align-items: center;
    
}

.listing {
    margin: 40px;
}

